<nav class="pretty-nav main-pad-lr u-displayFlex"  id="navigation-bar">
  <div class="Container-wrapper pretty-nav-wrapper">
    <div class="u-fontSize-h3  u-fontPlayfair u-positionR"><a href="/tech">A</a><div id="logo-dot" data-animate="false"></div></div>
    <button id="nav-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul id="nav-links">
      <li><a href="/tech">Home</a></li>
      <li><a href="/tech/about">About</a></li>
      <li id="nav-contact"><a href="/tech/contact">Contact</a></li>
    </ul>
  </div>
</nav>

