$black: #000;
$white: #fff;
$main-shape_border_radius: 70% 30% 30% 70% / 60% 40% 60% 40%;

$secondary: #e46795;
$primary: #1103b0;
$primary_alt: #7066dd;
$pre_loader_bg: #1103b0;
// $pre_loader_bubble_2: #ebd3d8;
// $pre_loader_bubble: #E9D5DA;
$pre_loader_bubble_2: #f999bc;
$pre_loader_bubble: #f287ae;
$pre_loader_text: #fff;
$radius: 60px;
$hero_section_bg: #fff;
$hero_img_back_animation: liquid 8s ease-in-out infinite;
$hero_img_back_shade_1: #1300ed;
$hero_img_back_shade_2: #e46795;

// share blog

$share_menu_color: #979799;
$share_menu_hover_color: #b1b1b9;
$share_menu_tip_color: #fff;
$share_menu_link_color: #979799;
$share_menu_drop_bg: #36393e;
$share_menu_tip_bg: rgb(24, 24, 24);
$share_menu_divider: #656970;
$share-menu-border-pseudo: transparent $share_menu_tip_bg transparent transparent;

// background: linear-gradient(50deg, #2a48bd 0%, #35e0e0 100%);
// linear-gradient(35deg, #ef9a25 0%, #ddbc23 100%); // #fac722

// project base color

$online_assessment: #d9daef;
$plant_health: #a6d6d6;
$deal_management: #ffdabd;

// other work
$trader_joes: #d593a3;
$sustainable_ux: #6aa965;
$design_work: #ffcbcb;
$literati_women: #aad0e1;
$ux_research: #cea7d1;
