<section class="main-pad-lr u-marginV150">
  <div class="Container-wrapper u-displayFlex u-alignItems-center u-justify-center">
    <h2 class="u-fontPlayfair u-fontSize-h4">Thank you for your time.</h2>
  </div>
</section>
<section class="main-pad-lr u-marginV150" id="article-nav">
  <div class="Container-wrapper">
    <div class="u-displayFlex u-marginT20">
      <div class="u-flex1">
        <div class="u-fontSize-h5 u-textUpper u-letterSpacing_2 u-fontWeight-black">
          Previous: <span id="article-nav-previous"></span>
        </div>
        <a class="u-positionS btn-primary" id="article-nav-previous-url" href="/">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </div>

      <div class="u-flex1">
        <div class="u-fontSize-h5 u-textUpper u-letterSpacing_2 u-fontWeight-black u-textRight">
          Next: <span id="article-nav-next"></span>
        </div>
        <a class="u-positionS btn-primary u-floatR" id="article-nav-next-url" href="/">
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>