<footer>
  <div class="main-pad-lr Container--contact u-paddingB20">
    <div class="u-displayFlex footer-wrapper Container-wrapper">
      <div class="footer-left">
        <h2 class="u-fontPlayfair u-fontSize-h2--alt">
          <a href="mailto:cyrillaatisha@gmail.com" target="_blank">cyrillaatisha@gmail.com</a>
        </h2>
        <div class="u-width90">
          <div class="u-fontSize-p3 u-marginT10 u-lineHeight-1_75">
            <span class="footer-text">
              I am always open for collaboration and discussions on ideas. So it would be great to get in touch.✌️
              <br>
            </span>
            <ul class="social-wrapper">
              <li class="icon linkedin">
                <span class="tooltip">LinkedIn</span>
                <span>
                  <a href="https://www.linkedin.com/in/aatisha-cyrill/" target="_blank" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </span>
              </li>
              <li class="icon github">
                <span class="tooltip">Github</span>
                <span>
                  <a href="https://github.com/Aatisha" target="_blank" aria-label="GitHub">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </span>
              </li>
              <li class="icon medium">
                <span class="tooltip">Medium</span>
                <span>
                  <a href="https://medium.com/@cyrillaatisha" target="_blank" aria-label="Medium Blog">
                    <i class="fa-brands fa-medium"></i>
                  </a>
                </span>
              </li>
            </ul>
            <div class="u-fontSize-h6 u-marginT30 u-lineHeight-1_5">Handcrafted with ❤️. Copyright © Aatisha Cyrill.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-shape-divider-top-1670446642">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>
  </div>
</footer>