<nav class="pretty-nav main-pad-lr u-displayFlex"  id="navigation-bar">
  <div class="container pretty-nav-wrapper">
    <div class="u-fontSize-h3  u-fontPlayfair u-positionR"><a href="/">A</a><div id="logo-dot" data-animate="false"></div></div>
    <button id="nav-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul id="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li id="nav-contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>

