<nav class="container pretty-nav main-pad-lr u-displayFlex nav-with-bg" id="navigation-bar">
  <div class="pretty-nav-wrapper">
    <div class="u-fontSize-h3 u-fontPlayfair u-positionR app-logo">
      <a href="/">A</a>
      <div id="logo-dot" data-animate="false"></div>
    </div>
    <div id="hamburger">
      <div class="menu">Menu</div>
      <button id="nav-hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <ul id="nav-links">
      <li class="nav-link" id="work-nav">
      </li>
      <li><a href="/about">About</a></li>
      <li><a href="/playground">Play</a></li>
      <!-- <li id="nav-contact"><a href="/contact">Contact</a></li> -->
      <li><a href="https://drive.google.com/file/d/13uMO2Mq_BVgNFWyBwwRBaWrcLJDiCRwC/view" target="_blank">Resume</a></li>
    </ul>
  </div>
</nav>
